*{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

.header{
    height: 100vh;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

.logo{
    height: 55px;
    padding: 2px 20px;
}

.icon-bar{
    background: Navy;
}

li a{
    color: #333;
}

.big-text{
    font-size: 46px;
    margin: 20px 0;
    color: navy;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border: 1px solid navy;
    border-radius: 20px;
}

a.btn-first{
    background-color: navy;
    color: #fff;
}


a.btn-secong{
    background-color: transparent;
    color: #333;
}


a.btn:hover{
    background: navy;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}


























































































